name: CI

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: shellcheck
        run: shellcheck *.sh

      - name: docker build
        run: docker build $GITHUB_WORKSPACE
  
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: List instances
        uses: ./
        env:
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_ORGANIZATION_ID: ${{ secrets.SCW_ORGANIZATION_ID }}
          SCW_ZONE: fr-par-1
        with:
          args: instance server list -ojson

      - name: Check output
        run: cat "${GITHUB_WORKSPACE}/scw.output" | jq -er 'length'
